@media only screen and (min-width: 803px) {
  header {
    nav {
      position: relative;
      top: 0;
      opacity: 1;

      button {
        margin: 10px;
      }
    }

    .hamburger-menu {
      display: none;
    }
  }

  .skills {
    .skills-flex {
      flex-direction: row;
      justify-content: center;
      .skill {
        height: 700px;
        flex-basis: 30%;

        &:nth-child(1) {
          border-radius: 10px 0 0 0;
        }

        &:nth-child(3) {
          height: 700px;
          border-radius: 0 10px 0 0;
        }
      }
    }
  }
}